# Airlock Nexus, accessible by developers, proxies to Dev Artifactory
#registry=https://artifactory.stubbucc.cloud/artifactory/api/npm/npm-dev
registry=https://artifactory.prdstubsys.cloud/artifactory/api/npm/npm-dev/
strict-ssl=false
package-lock=true
ca=null
force-ssl=false